.title{
    font-size: 90px;
    margin-bottom: 35px;
    color: #707070;
}
.hero1{
    padding-top: 130px;
    padding-bottom: 120px;
    background-color: #CEFBFF;
}
.subTitle{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: #707070;
}